<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header_template.html :: head-fragment">
    <meta charset="UTF-8">
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Lodgings Manager</title>

</head>

<body>

<div th:replace="navbar.html :: copy"></div>


<div id="add">
    <div th:each="lodging : ${lodgings}" class="panel panel-default">
        <div class="panel-heading"><b>
            <a th:attr="href='/lodgings?lodgingsId=' + ${lodging.getId()}" th:text="${lodging.getName()}"></a>
        </b></div>
    </div>
</div>


<div th:replace="footer.html :: copy"></div>


</body>
</html>