<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header_template.html :: head-fragment">
    <meta charset="UTF-8">
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- MY JAVASCRIPT FILES -->
    <script src="static/js/data_handler.js" defer></script>
    <script src="static/js/dom.js" defer></script>
    <script src="static/js/main.js" defer></script>


    <title>Login</title>
</head>
<body>

<div th:replace="navbar.html :: copy"></div>

<div class="container" style="margin-bottom: 15px">
    <div class="col-lg-6 col-lg-offset-3">
        <h3 class="bg-success text-white p-5">Login</h3>
        <form action="/login" method="post">
            <div class="form-group mx-auto">
                <h4 class="color-text-red" th:text="${errorMessage}"></h4>
                <label for="email-login">Email address</label>
                <input id="email-login" class="form-control" placeholder="Enter email address" type="email" name="email"
                       pattern="[a-z0-9._%+-]{1,100}+@[a-z0-9.-]{1.100}+\.[a-z]{2,3}$" required><br>

                <label for="password-login">Password</label>
                <input id="password-login" class="form-control" placeholder="Enter password" type="password" name="password"
                       pattern="(?=^.{8,255}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required><br>
            </div>
            <button type="submit" value="login" class="btn btn-primary btn-block">Login</button>
        </form>
        <div>
            <a href="/registration"><button type="submit" class="btn btn-secondary btn-block">Registration</button></a>
        </div>
    </div>
</div>
</body>
</html>