<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header_template.html :: head-fragment">
    <meta charset="UTF-8">
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

</head>

<body>

<div th:replace="navbar.html :: copy"></div>

<div id="add">

    <table class="table">
        <thead>
        <th>Lodgings name</th>
        <th>ToDo</th>
        <th>Description</th>
        <th>Price</th>
        <th>Deadline</th>
        <th>Status</th>
        </thead>
        <tbody th:each="todo : ${todoList}">
        <tr>
            <td th:text="${todo.getLodgings().getName()}"></td>
            <td th:text="${todo.getName()}"></td>
            <td th:text="${todo.getDescription()}"></td>
            <td th:text="${todo.getPrice()}"></td>
            <td th:text="${todo.getDeadline().toString()}"></td>
            <td th:text="${todo.getStatus().name()}"></td>
        </tr>
        </tbody>
    </table>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>


</body>
</html>