<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header_template.html :: head-fragment">
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Lodgings Manager</title>
</head>

<body>
<div th:replace="navbar.html :: copy"></div>

<label for="user-type"></label>
<input id="user-type" type="text" th:value="${userClass}" hidden>

<div id="profile-data" class="row">
    <div id="data-list" class="col-sm-3">
        <!--left col-->
        <ul class="list-group">
            <li class="list-group-item text-muted" contenteditable="false">Profile</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">First Name: </strong></span>
                <span th:text="${userData.getFirstName()}">First Name</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Surname: </strong></span>
                <span th:text="${userData.getSurname()}">Surname</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Cellphone Number: </strong></span>
                <span th:text="${userData.getPhoneNumber()}">Cellphone Number</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Email: </strong></span>
                <span th:text="${userData.getEmail()}">Email</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Country: </strong></span>
                <span th:text="${userData.getCountry()}">Country</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">City: </strong></span>
                <span th:text="${userData.getCity()}">City</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Zipcode: </strong></span>
                <span th:text="${userData.getZipCode()}">Zipcode</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Address: </strong></span>
                <span th:text="${userData.getAddress()}">Address</span></li>
        </ul>
        <form id="edit-button" method="get" action="/user/edit">
            <button type="submit" class="btn btn-info">Edit Profile</button>
        </form>

        <form id="delete-user" method="post" action="/user/delete">
            <button form="delete-user" type="submit" class="btn btn-secondary" name="userId" th:value="${userData.getId()}">Delete profile</button>
        </form>
    </div>
</div>
<div th:replace="footer.html :: copy"></div>
</body>
</html>